.application {
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.applicationSubtitle {
  display: inline-block;
  background-color: #353637;
  color: #fff;
  padding: 8px 20px;
  font-size: 25px;
  margin-bottom: 50px;
}

.application h3 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
}
.applicationUl {
  padding-left: 20px;
}
.applicationUlPushedIn {
  margin-left: 100px;
}
.row .app {
  height: 400px;
}
.row .app p {
  text-align: justify;
}
.applicationCategory {
  text-align: center;
  margin-bottom: 40px;
  height: 270px;
}
.applicationCategoryCategoryImg {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}
.applicationCategoryP {
  font-weight: bold;
  font-size: 16px;
}
.applicationCategoryPMore {
  margin-top: 10px;
  font-size: 14px;
  color: #e32726;
}
.applicationCategoryPMoreI {
  vertical-align: middle;
  margin-left: 10px;
}
.applicationCategoryCategoryImg:hover {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}