.homeHr {
  border-top: 1px solid #ccc;
  margin-top: 50px;
  margin-bottom: 50px;
}
.homeH1First {
  margin-bottom: 0;
}
.homeH1AfterH1 {
  margin-top: 0;
}
.homeRevolution {
  border-top: 1px solid #ccc;
  background: #f3f3f3;
  padding-top: 125px;
  position: relative;
  overflow: hidden;
  height: 624px;
}
.homeRevolutionTagline {
  max-width: 500px;
  margin-bottom: 22px;
}
.homeRevolutionRobotEvolution {
  width: 100%;
  margin-top: -50px;
}
.homeRevolutionBackground {
  width: 560px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
.homeImgSpacer {
  margin-bottom: 50px;
}
.carousel {
  margin-bottom: 50px;
}