.appVideo {
  position: relative;
  margin-bottom: 30px;
  height: 170px;
}
.appVideoVidImg {
  width: 160px;
  float: left;
  cursor: pointer;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}
.appVideoVidImgImg {
  width: 160px;
}
.appVideoText {
  width: calc(100% - 160px);
  height: 160px;
  float: left;
  padding-left: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.appVideoVidImg:hover {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}
@media (max-width: 500px) {
  .appVideoVidImg, .appVideoText {
    width: 100%;
  }
  .appVideoText {
    height: auto;
    margin-top: 20px;
    padding-left: 0;
  }
}