html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  color: #212529;
  text-align: left;
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.active > a, .active > a:hover, .active > a:focus {
  color: #e32726;
  border-bottom: 5px solid #e32726;
}
@media (max-width: 992px) {
  .active > a, .active > a:hover, .active > a:focus {
    border-bottom: 0;
  }
}

.subtitle {
  display: inline-block;
  background-color: #353637;
  color: #fff;
  padding: 8px 20px;
  font-size: 25px;
  margin-bottom: 50px;
}

.nav > li > a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}
.nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}
.nav > .active > a, .nav > li > a:hover, .nav > li > a:focus {
  color: #e32726;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #e32726;
}
.nav > .active > a, .nav > .active:hover > a, .nav > .active:focus > a {
  font-weight: 700;
}
.nav .nav > .active > a, .nav .nav > .active:hover > a, .nav .nav > .active:focus > a {
  font-weight: 500;
}
.nav {
  display: block;
}
.nav > .active > ul.nav {
  display: block;
}

.social-actions {
  position: fixed;
  top: 390px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.social-actions a {
  margin-bottom: 10px;
  display: inline-block;
  background-color: #959595;
  border-radius: 7px;
  padding-top: 5px;
  width: 41px;
  height: 41px;
  text-align: center;
}
.social-actions a i {
  font-size: 32px;
  color: #fff;
}
.social-actions a:hover {
  transition: all 0.25s;
  box-shadow: 3px 3px 0 0 #bcbcbc;
  background-color: #d0362a;
  transform: scale(1.15);
}
.social-actions.affix-bottom {
  position: absolute;
}

#language-chooser {
  float: right;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  color: #fffefe;
  cursor: pointer;
  background-color: #454545;
  font-weight: bold;
}
#language-chooser:hover, #language-chooser.open {
  color: #fffefe;
}
#language-chooser i {
  margin-left: 20px;
}

.dropdown-menu {
  top: 47px;
  left: -27px;
  border-radius: 1px;
  background-color: #000;
}
.dropdown-menu li a {
  color: #fffefe;
}
.dropdown a {
  margin: 0;
  text-decoration: none;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #000;
  text-decoration: none;
  background-color: #fff;
}
.leading-paragraph {
  font-weight: bold;
  color: black;
  font-size: 24px;
}
.bigger-page-text p {
  font-size: 18px;
  margin-bottom: 30px;
}
.bigger-page-text ul li {
  font-size: 18px;
}
.flex-center-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-img img {
  display: block;
}
.multiChoice {
  position: relative;
}
.multiChoice input {
  position: absolute;
  top: 0;
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}
.multiChoice .selected {
  width: 100%;
  flex-wrap: wrap;
  min-height: 37px;
  padding: 5px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: flex;
  align-items: center;
}
.multiChoice .selected .item {
  font-size: 13px;
  background: #03a9f4;
  border-radius: 13px;
  color: white;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  margin: 5px;
}
.multiChoice .selected .item i {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  color: #b5e1ff;
  margin-left: 5px;
}
.multiChoice .selected .item i:hover {
  color: white;
}
.multiChoice .selected .item svg {
  display: block;
  margin-left: 8px;
  width: 10px;
  cursor: pointer;
}
.multiChoice .selected .item svg path {
  fill: white;
}
.multiChoice .option {
  list-style: none;
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  border-top: 0;
  display: none;
  z-index: 100;
  padding: 0;
}
.multiChoice .option li {
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;
}
.multiChoice .option li:hover {
  background: #03a9f4;
  color: #fff;
}
.multiChoice .option.active {
  display: block;
}