.active > a, .active > a:hover, .active > a:focus {
  color: #e32726;
  border-bottom: 5px solid #e32726;
}
@media (max-width: 992px) {
  .active > a, .active > a:hover, .active > a:focus {
    border-bottom: 0;
  }
}